<! -- 添加捐赠图标 -->
<div class ="post-donate">
    <div id="donate_board" class="donate_bar center">
        <div id="donate_guide" class="donate_bar center" >
		<!-- 微信打赏图案 -->
		<img src="<%- theme.donate_wechat %>" alt="微信打赏"> 
    	</div>
        <span class="donate_txt">
           &uarr;<br>
		   <%=theme.donate_message%>
        </span>
        <br>
      </div>
</div>
<! -- 添加捐赠图标 -->